@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /**
    * ----------------------------------------
    * animation slide-up
    * ----------------------------------------
    */
    @keyframes slide-up {
        0% {
            opacity: 0.5;
            transform: translateY(100px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .slide-up {
        animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    /**
    * ----------------------------------------
    * animation slide-down
    * ----------------------------------------
    */
    @keyframes slide-down {
        0% {
            opacity: 0.5;
            transform: translateY(-100px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .slide-down {
        animation: slide-down 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    /**
    * ----------------------------------------
    * animation scale-up-center
    * ----------------------------------------
    */
    @keyframes scale-up-center {
        0% {
            opacity: 0.5;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .scale-up-center {
        animation: scale-up-center 750ms ease-in-out both;
    }
}

@layer base {
    [x-cloak] {
        display: none !important;
    }

    .section {
        @apply py-14;
    }

    .section-title {
        @apply text-2xl drop-shadow-lg text-center font-semibold uppercase font-[Oswald] text-max-black;
    }

    .section-caption {
        @apply mt-2 mb-8 text-sm font-semibold text-center uppercase drop-shadow-lg font-[Oswald] tracking-wide;
    }

    .modal {
        @apply relative flex flex-col max-w-lg gap-4 overflow-hidden rounded-xl bg-max-light;
    }

    .modal-header {
        @apply flex items-center justify-between p-4 font-semibold tracking-wide bg-max-soft text-max-light drop-shadow-md;
    }

    .modal-body {
        @apply px-3;
    }

    .modal-footer {
        @apply p-4 bg-max-soft/15;
    }

    .dialog {
        @apply relative flex flex-col w-full max-w-md overflow-hidden rounded-xl bg-max-white;
    }

    .dialog-body {
        @apply p-8;
    }

    .dialog-actions {
        @apply flex flex-row justify-end p-4 bg-max-soft/20;
    }

    .input-icon {
        @apply absolute inset-y-0 flex items-center pointer-events-none start-0 ps-4;
    }

    .input-label {
        @apply w-full absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:text-xs peer-focus:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:-translate-y-1.5;
    }

    body {
        color: #3f3b37;
        outline: none !important;
    }

    p {
        @apply mb-5 text-lg font-normal leading-6;
    }

    .mapBackground {
        fill: #a38a79;
        stroke: #796249;
        stroke-width: 0.6;
        transition: 0.5s;
        cursor: pointer;
    }

    #Ukraine path:hover {
        fill: #b19a81;
    }

    .regionNoActive {
        fill: #8f7668 !important;
        cursor: auto;
    }

    .pointerCircle {
        r: 3px;
        fill: #91765a;
        stroke-linecap: square;
        stroke-linejoin: bevel;
        stroke-miterlimit: 4;
        stroke-opacity: 1;
    }

    .cityName {
        transition: all 0.5s ease;
        pointer-events: none;
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 0.6em;
        fill: #ebe0cc;
    }

    #Kiev:hover ~ .cityKiev,
    #KyivCity:hover ~ .cityKiev,
    #SevastopolCity:hover ~ .citySevastopol,
    #Crimea:hover ~ .citySimferopol,
    #Cherkasy:hover ~ .cityCherkasy,
    #Chernivtsi:hover ~ .cityChernivtsi,
    #Dnipropetrovsk:hover ~ .cityDnipro,
    #Donetsk:hover ~ .cityDonetsk,
    #Ivano-Frankivsk:hover ~ .cityIvano-Frankivsk,
    #Kharkiv:hover ~ .cityKharkiv,
    #Kherson:hover ~ .cityKherson,
    #Khmelnytskyi:hover ~ .cityKhmelnytskyi,
    #Kirovohrad:hover ~ .cityKropyvnytskyi,
    #Luhansk:hover ~ .cityLuhansk,
    #Lviv:hover ~ .cityLviv,
    #Mykolaiv:hover ~ .cityMykolaiv,
    #Odessa:hover ~ .cityOdessa,
    #Poltava:hover ~ .cityPoltava,
    #Rivne:hover ~ .cityRivne,
    #Sumu:hover ~ .citySumu,
    #Chernihiv:hover ~ .cityChernihiv,
    #Ternopil:hover ~ .cityTernopil,
    #Zakarpattia:hover ~ .cityUzhhorod,
    #Vinnytsia:hover ~ .cityVinnytsia,
    #Volyn:hover ~ .cityLutsk,
    #Zaporizhia:hover ~ .cityZaporizhia,
    #Zhytomyr:hover ~ .cityZhytomyr {
        visibility: visible;
        opacity: 1;
    }
}
