/* ======= Page Banner Header style ======= */

.banner-header {
    position: relative;
    height: 280px;
    overflow: hidden;
}

.banner-header::before {
    content: '';
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-header img {
    object-fit: cover;
    height: 280px;
    position: absolute;
}

.banner-header.full-height {
    min-height: 100vh;
}

.banner-header .caption {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 280px;
    text-align: center;
}

.banner-header h1 {
    position: relative;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 30px;
}

.banner-header h1 span {
    color: #91765a;
}

.banner-header h2 {
    position: relative;
    font-size: 48px;
    color: #fff;
    letter-spacing: 1px;
}

.banner-header h2 span {
    color: #91765a;
}

.banner-header h3 {
    position: relative;
    font-size: 60px;
    line-height: 1em;
    color: #fff;
}

.banner-header h3 span {
    display: block;
    font-size: 30px;
    display: block;
    margin-top: 0px;
    line-height: 1.5em;
    color: #91765a;
}

.banner-header .sub-title {
    position: relative;
    margin-bottom: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.banner-header h5 a {
    color: #91765a;
}

.banner-header p {
    font-size: 15px;
    margin-bottom: 0;
    color: #fff;
}

.banner-header p a {
    color: #91765a;
}

.banner-header .icon {
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
}

.banner-header .icon:after,
.banner-header .icon:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background: #fff;
    top: 50%;
    right: -80px;
    opacity: .2;
}

@media screen and (max-width: 767px) {
    .banner-header h1 {
        font-size: 24px;
        letter-spacing: 0;
        padding: 0 20px;
    }

    .banner-header h1 span {
        font-size: 20px;
    }

    .banner-header h3 {
        font-size: 36px;
    }

    .banner-header h3 span {
        font-size: 27px;
    }
}