@import '../app.css';
@import '../header.css';

/* TODO: розмістити стилі лише для сторінки articles */

/* ======= Barber Services 2 style  ======= */

.barber-services-2 {
    position: relative;
}

.barber-services-2 figure {
    margin: 0;
    position: relative;
    width: 66.666667%;
    margin-left: auto;
}

.barber-services-2.left figure {
    margin-left: 0;
    margin-right: auto;
}

.barber-services-2 figure img {
    border-radius: var(--bs-border-radius-lg);
}

.barber-services-2 figure img:hover {
    transform: scale(0.98);
}

.barber-services-2 .caption {
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    padding: 4% 4% 4% 4%;
    border-radius: var(--bs-border-radius-lg);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.barber-services-2.left .caption {
    left: auto;
    right: 0;
    background: #fff;
    padding: 30px;
}

.barber-services-2 .caption.padding-left {
    padding-left: 4%;
}

.barber-services-2.left .caption.padding-left {
    padding-right: 4%;
}

.barber-services-2 .caption h2,
.barber-services-2 .caption h2 a {
    font-size: 26px;
    color: #14100c;
    margin-bottom: 15px;
    font-weight: 400;
}

.barber-services-2 .caption h3,
.barber-services-2 .caption h3 a {
    font-size: 12px;
    color: #91765a;
    margin-bottom: 5px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.barber-services-2 .caption h3 span {
    font-size: 12px;
    color: #14100c;
    margin-bottom: 5px;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.barber-services-2 .caption h6 {
    display: inline-block;
    color: #14100c;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.barber-services-2 .caption .info-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.barber-services-2 .caption .info-wrapper .icon {
    color: #625c56;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0px;
    font-weight: 300;
}

.barber-services-2 .caption .info-wrapper .icon.ti-calendar:before {
    content: "\e6b6";
    font-family: 'Themify';
    margin-right: 5px;
    color: #14100c;
}

.barber-services-2 .caption .info-wrapper .more {
    color: #14100c;
    text-decoration: none;
    font-size: 12px;
}

.barber-services-2 .caption .info-wrapper .more i {
    color: #14100c;
    font-size: 10px;
}

.barber-services-2 .caption .info-wrapper .date {
    color: #14100c;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: transparent;
    border: 1px solid #14100c;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 3px 12px;
}

.barber-services-2 .caption .info-wrapper .date:hover {
    background: transparent;
    border: 1px solid #14100c;
    color: #14100c;
}

@media (max-width: 991.98px) {
    .barber-services-2 figure {
        width: auto;
        margin: 0;
    }

    .barber-services-2 figure img {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .barber-services-2 .caption {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        padding: 30px 20px;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/* hr */

hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

/* button link */

.link-btn {
    display: inline-block;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

a.link-btn span {
    margin-right: 5px;
    font-size: 12px;
}

.link-btn.blck {
    color: #14100c;
}

.link-btn i {
    margin-left: 3px;
    font-size: 15px;
}

.link-btn:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #91765a;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s
}

.link-btn:hover::before {
    width: 100%
}

@keyframes sad {
    0% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 200
    }
}

.articles-list img {
    transition: all .3s;
}