@import '../app.css';
@import '../header.css';


/* info box */

.info-box .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

.info-box .item .icon {
    color: #91765a;
    margin-right: 15px;
    border: 1px solid rgba(145, 118, 90, 0.3);
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    border-radius: 100%;
}

.info-box .item .icon:before {
    font-size: 27px;
    font-weight: 400;
}

.info-box .item h5 {
    color: #14100c;
    margin-bottom: 5px;
    font-size: 17px;
}

.info-box .item h6 {
    color: #91765a;
    margin-bottom: 0px;
    font-size: 22px;
}

.info-box .item p {
    font-size: 15px;
    margin-bottom: 0;
}

.response-panel {
    height: 100%;
    text-align: center;
}

.contact-form {
    width: 100%;
    height: 460px;
    display: block;
    padding: 30px 30px 30px 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contact-form h4.white {
    color: #fff;
}

.btn-form1-submit {
    display: inline-block;
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
    background: #91765a;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    line-height: 52px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: 'Nunito', sans-serif;
}

.btn-form1-submit:hover {
    background: #14100c;
}

.btn-form1-submit:focus {
    outline: none;
}

.btn-form1-submit:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background: inherit;
}

.btn-form2-submit {
    display: block;
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
    background: #91765a;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    line-height: 52px;
    position: relative;
    cursor: pointer;
    border-radius: var(--bs-border-radius-lg);
    transition: all 0.3s ease-out;
    font-family: 'Nunito', sans-serif;
}

.btn-form2-submit:hover {
    background: #fff;
    color: #14100c;
}

.btn-form2-submit:focus {
    outline: none;
}

.btn-form2-submit:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background: inherit;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes happy {
    0% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 200
    }
}