@import '../app.css';

#hero {
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - env(safe-area-inset-top)); */
    /* height: calc(var(--vh, 1vh) * 100); */
    background-image: url("./../../public/img/bg-header.jpg") top center;
    background-image: -webkit-image-set(url("/public/img/bg-header.webp") 1x);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
}

#hero h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
}

#hero h1 span {
    color: #91765a;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

#hero .icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
}

#hero .icon-box i {
    font-size: 32px;
    line-height: 1;
    color: #91765a;
}

#hero .icon-box h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
}

#hero .icon-box h3 a {
    color: #fff;
    transition: ease-in-out 0.3s;
}

#hero .icon-box h3 a:hover {
    color: #91765a;
}

#hero .icon-box:hover {
    border-color: #91765a;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 20px;
        line-height: 24px;
    }
}

.arrow {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    z-index: 8;
}

.arrow i {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
}

/* ======= Pricing style ======= */

.pricing .menu-list .item {
    line-height: 35px;
}

.pricing .menu-list .flex .title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #14100c;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: 800;
}

.pricing .menu-list .flex .dots {
    width: 100%;
    position: relative;
    margin: 0 20px;
}

.pricing .menu-list .flex .dots:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed rgba(145, 118, 90, 0.3);
}

.pricing .menu-list .flex .price span {
    display: block !important;
    width: 45px;
    height: 45px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: 800;
    color: #91765a;
    font-size: 12px;
}

.about .image-1,
.about .image-2 {
    transform-style: preserve-3d;
    border-radius: 32px;
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
}

.about .image-1 {
    transform: rotateX(30deg) rotate(-10deg);
}

.about .image-2 {
    transform: rotateX(-20deg) rotateY(-15deg) rotate(1deg);
}

picture {
    perspective: 700px;
    display: block;
}

.image-1:hover,
.image-2:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(0deg) rotateZ(0deg);
}


.accordion-box {
    position: relative;
    padding: 0;
}

.accordion-box .block {
    position: relative;
    background: transparent;
    /* border-radius: 0px; */
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid rgba(145, 118, 90, 0.3);
}

.accordion-box .block.active-block {
    background-color: transparent;
}

.accordion-box .block:last-child {
    margin-bottom: 0;
}

.accordion-box .block .acc-btn {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    padding-left: 20px;
    color: #14100c;
    transition: all 500ms ease;
    text-transform: uppercase;
}

.accordion-box .block .acc-btn.size-20 {
    font-size: 18px;
}

.accordion-box .block .acc-btn .count {
    color: #91765a;
    padding-right: 3px;
}

.accordion-box .block .acc-btn:before {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    color: #91765a;
    line-height: 30px;
    content: "\F229";
    font-family: "bootstrap-icons";
    transition: all 500ms ease;
}

.accordion-box .block .acc-btn.active {
    background-color: #91765a;
    color: #fff;
}

.accordion-box .block .acc-btn.active:before {
    font-family: "bootstrap-icons";
    content: "\F235";
    color: #fff;
}

.accordion-box .block .acc-content {
    position: relative;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-box .block .content {
    position: relative;
    padding: 30px 20px 20px 20px;
    background-color: transparent;
    color: #625c56;
}

.accordion-box .block .acc-content.current {
    display: block;
}

.accordion-box .block .content .text {
    display: block;
    position: relative;
    top: 0px;
    display: block;
}

.accordion-box .block .number {
    border: 2px solid #91765a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 1.5;
    font-weight: bold;
    color: #91765a;
    background-color: rgba(100, 100, 100, .15);
    text-align: center;
}

.accordion-box .block .acc-btn.active .number {
    border: 2px solid #f5eee7;
    background-color: rgba(255, 255, 255, .15);
    color: #fff;
}

.why .icon {
    width: 100px;
    height: 100px;
}

.why .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.why .description {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
}

.buying img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.buying .description {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
}