@import "/vendor/filament/filament/resources/css/theme.css";

@layer components {
    .fi-header {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
    }

    .fi-header-heading {
        font-size: medium !important;
        font-weight: 500;
    }
}

@config 'tailwind.config.js';
